/*Web Performance CSS*/
:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --blue: #0CBDCC;
    --green: #4F9399;
    --orange: #FF6875;

}

a {
    text-decoration: none;
    color: blue;
    margin-left: 10px;
   
}

html {
    margin: 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(135, 210, 250); 
}

/*Top Menu Starts. */
.top-menu {
    height: 200px;
    width: 100%;
    border: none;
    background-color: #fff;
    box-shadow: var(--shadow);
    margin: 5px 0px;
    text-align: center;
    background-image: url("img/img2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.main-title {
    margin: 1em 1em;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 100px;
    
}
/*Top Menu Ends.*/

/*Container Starts, Grid.*/
/*Set title Box next to the About us box and Glosario.*/
.showcase {
    display: grid;
    grid-gap: 1em 0em;
    grid-template-areas: 
    'containerBox infoBox'
    'containerBox glosarioBox'
}

.showcase h2 {
    font-size: 2rem;
    color: #333;
    margin: 5px;
}

.showcase h3 {
    font-size: 1rem;
    color: #333;
    margin: 5px;
}

.showcase p {
    font-size: 16px;
    color: black;
    margin: 0px 10px;
}

.containerBox {
    background-color:#ddd;
    grid-area: containerBox;
    display: grid;
    height: auto;
    width: auto;
    border: none;
    box-shadow: var(--shadow);
    margin: 1em 0em;
}
.containerBox p {
    color: black;
}

.infoBox {
    background-color:#ddd;
    grid-area: infoBox;
    display: grid;
    height: auto;
    width: auto;
    border: none;
    box-shadow: var(--shadow);
    margin: 1em 0em;
    margin-left: 1em;
}

.glosarioBox {
    background-color:#ddd;
    grid-area: glosarioBox;
    display: grid;
    height: auto;
    width: auto;
    border: none;
    box-shadow: var(--shadow);
    margin: 1em 0em;
    margin-left: 1em;    
    position: relative;
}

.ablog {
    background-color:#ddd;
    border: none;
    position: absolute;
    top: 45px;
    right: 5px;
}

/*Container Box Ends*/


/*Content Boxes Begin*/
.content-box1 {
    border: none;
    background: rgb(135, 210, 250); 
    margin: 1em 0em;
    height: auto;
    width: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'mini-box-a mini-box-b mini-box-c mini-box-d'
}

.content-box2 {
    background: rgb(135, 210, 250);    
    margin: 1em 0em;
    height: auto;
    width: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'mini-box-a mini-box-b mini-box-c mini-box-d'
}

.content-box3 {
    background: rgb(135, 210, 250);     
    margin: 1em 0em;
    height: auto;
    width: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'mini-box-a mini-box-b mini-box-c mini-box-d'
}
.content-box4 {
    background: rgb(135, 210, 250);  
    margin: 1em 0em;
    height: auto;
    width: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'mini-box-a mini-box-b mini-box-c mini-box-d'
}
/*Content Boxes End*/


/*Mini Content Boxes Begin*/

.mini-box-a {
    background-color:#ddd;
    grid-area: mini-box-a;
    display: grid;
    height: auto;
    width: auto;
    border: none;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}

.mini-box-b {
    background-color:#ddd;
    grid-area: mini-box-b;
    display: grid;
    height: auto;
    width: auto;
    border: none;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}

.mini-box-c {
    background-color:#ddd;
    grid-area: mini-box-c;
    display: grid;
    height: auto;
    width: auto;
    border: none;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}

.mini-box-d {
    background-color:#ddd;
    grid-area: mini-box-d;
    display: grid;
    height: auto;
    width: auto;
    border: none;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}
/*Mini Content Boxes End*/

/*Mini Content Boxes Info Begin*/
.content-box1 h2 {
    font-size: 16px;
    color: #333;
    margin: 0px 5px;
    margin-top: 10px;
}

.content-box1 h3 {
    font-size: 14px;
    color: #333;
    margin: 10px;
}

.content-box1 p {
    font-size: 15px;
    color: black;
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
}
.content-box2 h2 {
    font-size: 16px;
    color: #333;
    margin: 0px 5px;
    margin-top: 10px;    
}

.content-box2 h3 {
    font-size: 14px;
    color: #333;
    margin: 10px;
}

.content-box2 p {
    font-size: 15px;
    color: black;
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.content-box3 h2 {
    font-size: 16px;
    color: #333;
    margin: 0px 5px;
    margin-top: 10px;    
}

.content-box3 p {
    font-size: 15px;
    color: black;
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.content-box4 h2 {
    font-size: 16px;
    color: #333;
    margin: 0px 5px;
    margin-top: 10px;    
}

.content-box4 h3 {
    font-size: 14px;
    color: #333;
    margin: 10px;
}

.content-box4 p {
    font-size: 15px;
    color: black;
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
}
/*Mini Content Boxes Info Begin*/
/*Content Box Ends*/


/*Footer Additional information Starts.*/
/*Footer Information part, Explaining Topic and Info Subject.*/

.footer-wrapper {
    display: grid;
    margin: 0px 0px;
    grid-gap: 1em;
    grid-template-areas:
    'info-box-a info-box-b'
}

.info-box-a {
    grid-area: info-box-a;
    display: grid;
    height: auto;
    width: auto;
    box-shadow: var(--shadow);
    margin: 1em 0em;
    margin-left: 1em;
    background: url(img/cetavbanner.png) no-repeat center #FF9801;
    background-size: auto;
}

.info-box-b {
    grid-area: info-box-b;
    border: solid;
    display: grid;
    height: auto;
    width: auto;
    box-shadow: var(--shadow);
    margin: 1em 0em;
    margin-right: 1em;
}

.info-box-a h3{
    font-size: 14px;
    color: #333;
    margin: 10px;
}

.info-box-b h3{
    font-size: 14px;
    color: #333;
    margin: 10px;
}

.info-box-a p{
    font-size: 15px;
    color: black;
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.info-box-b p{
    font-size: 15px;
    color: black;
    margin: 5px 10px;
    text-align: justify;
    text-justify: inter-word;
}


/*Footer, Additional information ends.*/

/*Footer Part*/
footer{
	margin-top: 1rem;
	background: var(--dark);
	color: var(--light);
	text-align: center;
    padding: 0.5rem;
    margin: 5px 0px;
}