/*Web Performance CSS*/
:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --blue: #0CBDCC;
    --green: #4F9399;
    --orange: #FF6875;

}

a {
    text-decoration: none;
    color: blue;
    margin-left: 10px;
   
}

html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #CDC3C2;    
}

.wrapper {
    margin: 1em 1em;
}

.top-menu {
    height: 400px;
    width: auto;
    border: solid;
    background-color: #fff;
    box-shadow: var(--shadow);
    margin: 0px 1em;
    text-align: center;
}

.main-title{
    margin: 1em 1em;
    text-align: center;
    display: inline-block;
}


/*Drop Down Menu Starts*/
/*Style btn.*/
.btn-drop {
    background-color: #0CBDCC;
    color: black;
    font-size: 17px;
    padding: 1em;
    border: solid;
    cursor: pointer;
    transition: background-color .3s;
    width: 168px;
}

/*Cointainer of the drop Down menu, set the location of it.*/
.dropDown {
    position: absolute;
    top: 1em;
    right: 2.5em;
}

/*Content of DropDown menu.*/
/* Z-index specifies the order of an element, from the highest to the lowest element, only works with positioned
elements: absolute,relative or fixed.*/
.drop-menu {
    display: none;
    position: absolute;
    background: var(--light);
    color: black;
    min-width: 168px;
    box-shadow: var(--shadow);
    z-index: 1;
}

/*Change the A's that are stored inside the class .drop-menu*/
.drop-menu a {
    color: black;
    padding: 1em;
    text-decoration: none;
    display: block;
}

.btn-drop:hover {
    background-color: #4F9399;
}

/*Hover Properties for the A elements*/
.drop-menu a:hover {
    background-color: #FF6875;
}

/*This will activate the content-menu when we hover the menu.*/
.dropDown:hover .drop-menu{
    display: block;
}

/*Drop Down Menu Ends*/

/*Container Starts, Grid.*/
/*Set title Box next to the About us box and Glosario.*/
.showcase {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    'container info-box'
    'container glosario-box'
}

.showcase h2 {
    font-size: 2rem;
    margin-bottom: 0;
    color: #333;
    margin: 5px;
}

.showcase h3 {
    font-size: 1rem;
    margin-bottom: 0;
    color: #333;
    margin: 5px;
}

.showcase p {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    margin: 10px;
}

.container {
    grid-area: container;
    display: flex;
    height: auto;
    width: auto;
    border: solid;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}

.containerBox {
    size: auto;
}

.info-box {
    grid-area: info-box;
    display: grid;
    height: auto;
    width: auto;
    border: solid;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}

.glosario-box {
    grid-area: glosario-box;
    display: grid;
    height: auto;
    width: auto;
    border: solid;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}

/*Container Box Ends*/
/*Content Box Begins*/
.content-box1 {
    border: solid;
    box-shadow: var(--shadow);
    background-color: #ddd;
    margin: 1em 1em;
    height: auto;
    width: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'mini-box-a mini-box-b mini-box-c mini-box-d'
}

.content-box2 {
    border: solid;
    box-shadow: var(--shadow);
    background-color: #ddd;    
    margin: 1em 1em;
    height: auto;
    width: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'mini-box-a mini-box-b mini-box-c mini-box-d'
}

/*Drop Down Menu Starts*/
/*Style btn.*/
/*Drop Down Menu Ends*/

.content-box3 {
    border: solid;
    box-shadow: var(--shadow);
    background-color: #ddd;    
    margin: 1em 1em;
    height: auto;
    width: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'mini-box-a mini-box-b mini-box-c mini-box-d'
}
.content-box4 {
    border: solid;
    box-shadow: var(--shadow);
    background-color: #ddd;    
    margin: 1em 1em;
    height: auto;
    width: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'mini-box-a mini-box-b mini-box-c mini-box-d'
}


.mini-box-a {
    grid-area: mini-box-a;
    display: grid;
    height: auto;
    width: auto;
    border: solid;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}

.mini-box-b {
    grid-area: mini-box-b;
    display: grid;
    height: auto;
    width: auto;
    border: solid;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}

.mini-box-c {
    grid-area: mini-box-c;
    display: grid;
    height: auto;
    width: auto;
    border: solid;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}

.mini-box-d {
    grid-area: mini-box-d;
    display: grid;
    height: auto;
    width: auto;
    border: solid;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}


.content-box1 h2 {
    font-size: 16px;
    margin-bottom: 0;
    color: #333;
    margin: 5px;
}

.content-box1 p {
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
    margin: 10px;
}
.content-box2 h2 {
    font-size: 16px;
    margin-bottom: 0;
    color: #333;
    margin: 5px;
}

.content-box2 p {
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
    margin: 10px;
}
.content-box3 h2 {
    font-size: 16px;
    margin-bottom: 0;
    color: #333;
    margin: 5px;
}

.content-box3 p {
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
    margin: 10px;
}
.content-box4 h2 {
    font-size: 16px;
    margin-bottom: 0;
    color: #333;
    margin: 5px;
}

.content-box4 p {
    font-size: 15px;
    margin-bottom: 10px;
    color: black;
    margin: 10px;
}

/*Content Box Ends*/


/*Footer Additional information Starts.*/
/*Footer Information part, Explaining Topic and Info Subject.*/

.footer-wrapper {
    display: grid;
    border: solid;
    margin: 0px 30px;
    grid-gap: 1em;
    grid-template-areas:
    'info-box-a info-box-b'
}

.info-box-a {
    grid-area: info-box-a;
    display: grid;
    height: auto;
    width: auto;
    border: solid;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}

.info-box-b {
    grid-area: info-box-b;
    display: grid;
    height: auto;
    width: auto;
    border: solid;
    box-shadow: var(--shadow);
    margin: 1em 1em;
}

.info-box-a h3{
    font-size: 18px;
    margin-bottom: 0;
    color: #333;
    margin: 5px;
}

.info-box-b h3{
    font-size: 18px;
    margin-bottom: 0;
    color: #333;
    margin: 5px;
}

.info-box-a p{
    font-size: 16px;
    margin-bottom: 0;
    color: #333;
    margin: 5px;
}

.info-box-b p{
    font-size: 16px;
    margin-bottom: 0;
    color: #333;
    margin: 5px;
}


/*Footer, Additional information ends.*/

/*Footer Part*/
footer{
	margin-top: 1rem;
	background: var(--dark);
	color: var(--light);
	text-align: center;
    padding: 0.5rem;
    margin: 5px 30px;
}